@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  li {
    @apply px-3;
  }
}

.content-div {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}
